<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>END</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>45</real>
			<key>internalHeight</key>
			<real>34</real>
			<key>onEntryHeight</key>
			<real>35</real>
			<key>onExitHeight</key>
			<real>34</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>150</real>
			<key>x</key>
			<real>276</real>
			<key>y</key>
			<real>346.19921875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>637.75588468446847</real>
					<key>controlPoint1Y</key>
					<real>145.98794959766252</real>
					<key>controlPoint2X</key>
					<real>666.64397420811497</real>
					<key>controlPoint2Y</key>
					<real>134.24573262018569</real>
					<key>dstPointX</key>
					<real>694</real>
					<key>dstPointY</key>
					<real>132.203125</real>
					<key>srcPointX</key>
					<real>609</real>
					<key>srcPointY</key>
					<real>148</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>237</real>
			<key>internalHeight</key>
			<real>22</real>
			<key>onEntryHeight</key>
			<real>145</real>
			<key>onExitHeight</key>
			<real>23</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>584</real>
			<key>x</key>
			<real>323</real>
			<key>y</key>
			<real>145.80078125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Publish</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>736.22265625</real>
					<key>controlPoint1Y</key>
					<real>272.51472056933943</real>
					<key>controlPoint2X</key>
					<real>750.546875</real>
					<key>controlPoint2Y</key>
					<real>271.48527943066057</real>
					<key>dstPointX</key>
					<real>750.546875</real>
					<key>dstPointY</key>
					<real>302</real>
					<key>srcPointX</key>
					<real>736.22265625</real>
					<key>srcPointY</key>
					<real>242</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>658.62701067042576</real>
					<key>controlPoint1Y</key>
					<real>323.35468967671227</real>
					<key>controlPoint2X</key>
					<real>415.7388438984446</real>
					<key>controlPoint2Y</key>
					<real>285.9625239464541</real>
					<key>dstPointX</key>
					<real>335.10606645560557</real>
					<key>dstPointY</key>
					<real>337.12425700229062</real>
					<key>srcPointX</key>
					<real>704.41113314229005</real>
					<key>srcPointY</key>
					<real>239.55145670265324</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>226</real>
			<key>internalHeight</key>
			<real>22</real>
			<key>onEntryHeight</key>
			<real>135</real>
			<key>onExitHeight</key>
			<real>22</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>262</real>
			<key>x</key>
			<real>820.40234375</real>
			<key>y</key>
			<real>135</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WAIT_AND_COUNT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>588.26601486156744</real>
					<key>controlPoint1Y</key>
					<real>374.45729104570535</real>
					<key>controlPoint2X</key>
					<real>444.73398513843256</real>
					<key>controlPoint2Y</key>
					<real>344.80719099815332</real>
					<key>dstPointX</key>
					<real>345.99257823772291</real>
					<key>dstPointY</key>
					<real>346.24517265204713</real>
					<key>srcPointX</key>
					<real>687</real>
					<key>srcPointY</key>
					<real>379.5</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>820.5</real>
					<key>controlPoint1Y</key>
					<real>281.95763763768105</real>
					<key>controlPoint2X</key>
					<real>913.875</real>
					<key>controlPoint2Y</key>
					<real>262.04236236231895</real>
					<key>dstPointX</key>
					<real>913.875</real>
					<key>dstPointY</key>
					<real>242</real>
					<key>srcPointX</key>
					<real>820.5</real>
					<key>srcPointY</key>
					<real>302</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>127</real>
			<key>internalHeight</key>
			<real>22</real>
			<key>onEntryHeight</key>
			<real>35</real>
			<key>onExitHeight</key>
			<real>23</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>186</real>
			<key>x</key>
			<real>775</real>
			<key>y</key>
			<real>360.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
